@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 0, 0);
}
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(19, 18, 18);
  position: sticky;
  top: 0;
}
nav h1{
  font-size: 30px;
  color:chocolate;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
  color:chocolate;
  font-size: 30px;
}
nav .onglets p{
  font-size: 25px;
  margin-right: 20px;
  cursor:pointer;
  color:chocolate;
}
nav .onglets input{
  margin: 15px 10px;
  padding: 15px;
  border-radius: 40px;
  border:none;
  background-color: #ffffff;
  outline:none;
  
}

header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
  color:rgb(0, 0, 0);
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
  color:rgb(116, 16, 16);
}


.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color: bisque;
}

.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}

.main .video{
  margin-top:60px;
  width:40%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

/* Fin de la vidéo de présentation */
/* Fin de la section principale */


footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: rgb(255, 251, 8);
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid rgb(25, 0, 255);
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
  
}

@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
}


a {
  color:rgb(0, 0, 0);
}

footer a {
  color: rgb(25, 0, 255);
}

.card{
  color: #000;
}
